.navigation-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.navigation-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin: 1rem 0;
}

.default-link {
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
    font-size: 1.2rem;
    color: #7F171F;
}

.default-link:hover {
    text-decoration: underline;
}

.active-link {
    text-decoration: underline;
}

@media (min-width: 768px) {
    .navigation-header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        padding: 1rem 2rem;
    }

    .navigation-links {
        flex-direction: row;
        align-items: center;
        gap: 15px;
        margin: 0;
    }

    .default-link {
        font-size: 1.5rem;
    }
}

@media (min-width: 1024px) {
    .navigation-header {
        height: 120px;
        padding: 1rem 3rem;
    }

    .default-link {
        font-size: 1.5rem;
    }
}
