.favorites-cards {
    width: 100%;
    overflow-y: auto;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    border: 2px dotted #7F171F;
    border-radius: 10px;
}

.wine-heart {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px) {
    .favorites-cards {
        padding: 1rem;
        gap: 1rem;
    }
}

@media (min-width: 1024px) {
    .favorites-cards {
        max-height: 60%;
        padding: 1rem;
        gap: 1rem;
    }
}