.search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 0 0;
    border-radius: 10px;
    gap: 10px;
}

.radio-buttons {
    display: flex;
    gap: 10px;
}

.radio-label {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 120px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    padding: 10px 10px;
    border-radius: 20px 0 0 20px;
    cursor: pointer;
    box-shadow: rgba(26, 26, 26, 0.14) 1px 4px 3px;
}

.radio-label ~ .radio-label {
    border-radius:  0 20px 20px 0 ;
}

.search-box {
    display: flex;
    overflow: hidden;
}

.search-box input {
    border: 1px solid black;
    background: white;
    padding: 10px;
    font-size: 16px;
    color: black;
    flex: 1;
    border-radius: 10px 0 0 0;
}

.search-box button {
    border-radius: 0 10px 0 0;
}

.suggestions {
    position: absolute;
    top: 100%;
    padding: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: black;
    list-style: none;
    text-align: left;
    border: 1px black solid;
}


.suggestions li {
    padding: 10px;
}

.suggestions li:hover {
    background-color: #7F171F;
    cursor: pointer;
}

.background-image img {
    max-height: 30vh;
    width: 100%;
    object-fit: cover;
}