.recommendations {
    display: flex;
    flex-direction: column;
}

.detail-card {
    display: flex;
    flex-direction: row;
    width: 600px;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow: hidden;
}

.detail-card-image {
    max-width: 150px;

}

.pagination-controls {
    margin-top: 1rem;
}

