.detail-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: rgba(26, 26, 26, 0.14) 1px 4px 3px;
    overflow: hidden;
}

.detail-card-info {
    padding: 0.5rem;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.detail-card-info h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-card-info p {
    font-size: 0.8rem;
}

.detail-card-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
}

.detail-card-image img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
}


@media (min-width: 768px) {
    .detail-card {
        flex-direction: row;
        width: 100%;
        max-width: 600px;
        height: 250px;
    }

    .detail-card-info {
        flex: 0 1 60%;
        padding-right: 1rem;
        overflow-y: auto;
    }

    .detail-card-image {
        flex: 0 1 40%;
        margin-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .detail-card {
        width: 100%;
        max-width: 600px;
        height: 250px;
        padding: 1.5rem;
    }

    .detail-card-info {
        font-size: 1.1rem;
    }

    .detail-card-image {
        max-width: 180px;
    }
}
